doctype html
head
    html(lang='ru')
    meta(charset='UTF-8')
    meta(name='Description' content='Главная страница')
    meta(name='Author' content='Сабитов Искандэр')
    meta(name='Keywords' content='Главная, контакты')
    link(rel='stylesheet' href='styles/outlines.css')
    title Главная
    append style
        link(rel='stylesheet' href='/styles/outlines.css')
include partials/header.pug
main.content
    section.content-item.snippet
        .content__snippet-text
            pre.
                           class="Header1"
                             class="Logo"
                                 src="images/logo.png"

                             class="Quote"
                                Если волк молчит, то лучше его не перебивать

                             class="Menu"
                                Menu
        aside.content__snippet-aside
            .content__snippet-aside-text
                p В данном разделе приведен сниппет Header'а
    section.content-item.list
        .content__list-text
            h2.content__list-text_title Список покупок:
            ul.content__list-text_item
                li Молоко
                li Масло сливочное
                li Главная
                li Колбаса
    section.content-item.success-formula
        .content__formula-text
            p
                | Деньги
                sup 2
                |  + Деньги
                sup 2
                |  = Успех
    section.content-item
        .content__first-logo
            img(src='images/logo.png')
    section.content-item.content-item__table
        .content__table
            .content__table-head
                .content__table-row
                    .table-cell
                        p Вид
                    .table-cell
                        p
                            | Объём, км
                            sup 2
                    .table-cell
                        p %
            .content__table-body
                .content__table-row
                    .table-cell
                        p Ледники, айсберги, постоянный снег
                    .table-cell
                        p 24 000 000
                    .table-cell
                        p 68,7
                .content__table-row
                    .table-cell
                        p Подземная пресная вода
                    .table-cell
                        p 10 500 000
                    .table-cell
                        p 30,1
                .content__table-row
                    .table-cell
                        p Вечная мерзлота
                    .table-cell
                        p 300 000
                    .table-cell
                        p 0,86
                .content__table-row
                    .table-cell
                        p Пресные озёра
                    .table-cell
                        p 91 000
                    .table-cell
                        p 0,26
                .content__table-row
                    .table-cell
                        p Пары атмосферы
                    .table-cell
                        p 12 900
                    .table-cell
                        p 0,04
                .content__table-row
                    .table-cell
                        p Реки
                    .table-cell
                        p 2120
                    .table-cell
                        p 0,06
                .content__table-row
                    .table-cell
                        p Всего
                    .table-cell
                        p 35 000 000
                    .table-cell
                        p 100
include partials/contacts.pug
include partials/footer.pug